.shopping-cart-modal {
  width: 400px;
  height: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1050;
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;

  h2 {
      font-size: 24px;
      margin-bottom: 10px;
      padding-bottom: 10px;
  }

  .cart-items {
      list-style: none;
      padding: 0;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      flex-wrap: wrap;
      gap: 20px;
  }

  .cart-item {
    flex: 0.8 1 calc(33.33% - 20px);
      padding: 20px;
      border: 1px solid #eee;
      border-radius: 10px;
      box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
      background-color: #fff;

      .item-details {
          span {
              display: block;
              margin-bottom: 10px;

              &.name {
                  font-weight: bold;
                  color: #333;
              }
          }

          img {
              max-width: 100%;
              height: auto;
              border-radius: 10px;
              box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          }
      }
  }
.styled-btn {
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-top: 20px;
  padding: 10px 20px;
  color: #fff;
  border-radius: 20px;
}

.close-btn {
  background-color: #ce4a4a;
}

.checkout-btn {
  background-color: rgba(88, 192, 86, 0.85);
  &:hover {
    background-color: rgba(150, 252, 145, 0.6);
  }
}

  .shop-now-btn {
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-top: 20px;
  padding: 10px 20px;
  color: #fff;
  border-radius: 20px;
  background-color: #4CAF50;
}

.shopping-cart-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
  .total-price {
      margin-top: 20px;
      font-size: 20px;
      font-weight: bold;
  }

  .item-details .quantity {
      padding-top: 10px;
      color: #000000;
      font-size: 14px;
      font-weight: bold;
  }
}
