<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>

<div class="shopping-cart-modal" *ngIf="!isLoading">
    <h2>Your Shopping Cart</h2>
    <ul class="cart-items">
      <li class="cart-item" *ngFor="let item of shoppingCartData.cartItems">
        <div class="item-details">
          <span class="name">{{ item.product.name }}</span>
          <img src="https://localhost:5001/{{item.product.pictureUrl}}">
          <span class="quantity">Quantity: {{ item.quantity }}</span>
          <span>Price: {{ item.quantity * item.product.price | currency }}</span>
        </div>
      </li>
    </ul>
    <div class="total-price">
      <h3>Total Price: {{ totalPrice | currency }}</h3>
    </div>
    <button mat-button class="close-btn" (click)="onClose()">Close</button>
    <button mat-button class="checkout-btn" routerLink="/checkout">Checkout</button>
  </div>
