<carousel [isAnimated]="true">
    <slide>
      <img src="assets/images/1.jpg" alt="first slide" style="display: flex; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h3>Contemporary</h3>
        <p>Latest fashion trends</p>
      </div>
    </slide>
    <slide>
      <img src="assets/images/2.jpg" alt="second slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h3>Stylish</h3>
        <p>Do everything with style</p>
      </div>
    </slide>
    <slide>
      <img src="assets/images/3.jpg" alt="third slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h3>Easygoing</h3>
        <p>Find your comfort</p>
      </div>
    </slide>
    <slide>
        <img src="assets/images/4.jpg" alt="fourth slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block">
          <h3>The biggest brands</h3>
          <p>We provide variety from some of the most influential clothing brands in the world</p>
        </div>
      </slide>
      <slide>
        <img src="assets/images/OurStore.jpg" alt="fifth slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block">
          <h3>Only at MXML</h3>
        </div>
      </slide>
  </carousel>
