<!-- <h3>Cart</h3>

<div class="cart-item" *ngFor="let item of items">
  <span>{{ item.product.name }}</span>
  <span>{{ item.product.price| currency }}</span>
  <span>Quantity: {{ item.quantity }}</span>
  <img src="{{item.product.pictureUrl}}" alt="{{item.product.name}}" style="width: 50px;">
  <i class="fa fa-minus-circle text-warning me-2" (click)="removeFromCart(item.product)" style="cursor: pointer; font-size: 2em;"></i>
  <i class="fa fa-plus-circle text-warning ms-2" (click)="addToCart(item.product)" style="cursor: pointer; font-size: 2em;"></i>
</div> -->
<div *ngIf="shoppingCartData" class="shopping-cart-container">
  <h2>Your Shopping cart</h2>
  <ul class="cart-items">
    <li class="cart-item" *ngFor="let item of shoppingCartData.cartItems">
      <div class="item-details">
        <span class="name">{{ item.product.name }}</span>
        <img src="https://localhost:5001/{{item.product.pictureUrl}}">
        <span class="quantity">Quantity: {{ item.quantity }}</span>
        <span>Price: {{ item.quantity * item.product.price | currency }}</span>
      </div>
    </li>
  </ul>
  <div class="total-price">
    <h3>Total Price: {{ totalPrice | currency }}</h3>
  </div>
  <button class="checkout-btn">Checkout</button>
</div>

