.cart-no{
    position:absolute;
    min-height: 25px;
    min-width: 25px;
    border-radius: 50%;
    background: blueviolet;
    color:white;
    text-align: center;
    top: -12px;
    right: 32px;
}

header{
  z-index: 1000;
  position: sticky !important;
}

a{
    text-decoration: none;
    color: black;
    &.active{
        color: #7827d0;
    }
}

.logo{
    cursor: pointer;
}

.logout-link {
    color: #fff;
    background-color: rgba(255, 0, 0, 0.619);
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
  }

  .logout-link:hover {
    background-color: rgb(244, 70, 70);
  }

  .header-title{
    font-size: 16px !important;;

  }

