.cart-no{
    position:absolute;
    min-height: 25px;
    min-width: 25px;
    border-radius: 50%;
    background: blueviolet;
    color:white;
    text-align: center;
    top: -12px;
    right: 32px;
}

a{
    text-decoration: none;
    color: black;
    &.active{
        color: #ff9059;
    }
}

.logo{
    cursor: pointer;
}

.logout-link {
    color: #fff; /* Text color */
    background-color: rgba(255, 0, 0, 0.619); /* Background color */
    padding: 10px 20px; /* Padding */
    border-radius: 20px; /* Rounded corners */
    text-decoration: none; /* Remove underline */
  }
  
  .logout-link:hover {
    background-color: rgb(244, 70, 70); /* Change background color on hover */
  }

